#!/bin/bash
if [ -z $1 ]; then echo "usage: change_replication)factor.sh topic_name" ; exit 1; fi
ids={% for host in groups['kafka'] %}{{ hostvars[host]['node_id'] }}{% if not loop.last %},{% endif %}{% endfor %}

topicname=$1
{{ kafka_dir }}/bin/kafka-topics.sh --describe --zookeeper 127.0.01:2181 --topic $topicname

cat <<EOF> /tmp/increase-replication-factor.json
{"version":1,
  "partitions":[
     {"topic":"$topicname","partition":0,"replicas":[$ids]}
]}
EOF

{{ kafka_dir }}/bin/kafka-reassign-partitions.sh --zookeeper localhost:2181 --reassignment-json-file /tmp/increase-replication-factor.json --execute
{{ kafka_dir }}/bin/kafka-topics.sh --describe --zookeeper 127.0.01:2181 --topic $topicname
